<div th:fragment="content" class="container mt-5 mb-5 ">

    <div class="text-center" th:if="${loggedUserEmail != 'ADMIN@ADMIN'}">
        <h2 style="color: #074dcf;">Zgłoszenia</h2>
        <span th:if="${loggedUserEmail != null}">
            <a th:href="@{/request/mineRequests}" class="btn btn-primary btn-sm py-0 mx-2"> Pokaż moje zguby </a>
            <a th:href="@{/request/all}" class="btn btn-primary btn-sm py-0 mx-2"> Pokaż wszystkie </a>
        </span>
    </div>

    <div class="alert alert-info mb-3 p-1" role="alert" th:if="${String != null}">
        <div>
            <p class="ps-3 mb-0">Lista została pofiltrowana po słowie: ''<strong th:text="${String}"></strong>''</p>
            <p class="ps-3 mb-0">Znalezionio pozycji:  <strong th:text="${Integer}"></strong>
                <a th:href="@{/request/all}" class="btn btn-secondary btn-sm py-0 mx-2"> Pokaż wszystkie </a>
            </p>
        </div>
    </div>

    <table class="table table-striped mt-1">
        <thead class="table-dark text-center">
        <tr>
            <th class="text-center">Rodzaj zgłoszenia</th>
            <th class="text-center">Nazwa przedmiotu</th>
            <th class="text-center">Dokładny opis przedmiodu</th>
            <th class="text-center">Data zgłoszenia</th>
            <th class="text-center">Miasto</th>
            <th class="text-center">Adres e-mail</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${allRequests}">
            <td class="text-center" th:text="${request.lostOrFound}"></td>
            <td class="text-center" th:text="${request.objectName}"></td>
            <td class="text-center" th:text="${request.description}"></td>
            <td class="text-center" th:text="${request.requestDate}"></td>
            <td class="text-center" th:text="${request.city}"></td>
            <td class="text-center" th:text="${request.requesterLogin}"></td>

        </tr>
        </tbody>
    </table>

</div>
