
body {
    font-family: "San Francisco", Arial, sans-serif;
    background-color: #f8f8ff;
    padding-top: 56px;
}

.navbar-fixed-top
{
    position: fixed;
    /*margin-bottom: 150px;*/
    /*top: px;*/
    width: 100%;
}

.option_box {
    background: rgb(35, 54, 93);
    box-shadow: 1px 1px 20px 1px rgba(13, 110, 252, 0.22);
    border-radius: 20px;
    height: 130px;
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
}

/* sekcja user-panel options */
.user-option-box {
    background-color: rgb(153, 184, 255);
    height: 180px;
    width: 460px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 1px rgba(13, 110, 252, 0.22);
}

.user-option-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.user-option-icon {
    font-size: 2.5rem;
}

/* sekcja panel-panel options */
.admin-option-box {
    background-color: rgb(252, 198, 198);
    height: 150px;
    width: 460px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgb(86, 75, 75);
}
.admin-option-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.admin-option-icon {
    font-size: 2.5rem;
}


.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.hero-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: black;
}

.hero-subtitle {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2em;
    color: black;
}

.btn-outline-dark {
    font-weight: 500;
    border-width: 2px;
}

.section-title {
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}


.author-name,
.technologies-list li {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: black;
    list-style: none;
}

.author-bio {
    color: gray;
}

.authors-section {
    margin-bottom: 7rem;
}

.authors-section a {
    color: black;
    margin: 0 0.5em;
}

.authors-section a:hover {
    color: gray;
}

.mg-top {
    margin-top: 100px;
}

.header-section {
    background-image: url("../img/background_puzzle.jpg");
    background-size: cover;
    background-position: center;
}

.tech-section {
    background-image: url("../img/Mock.png");
    background-size: 500px;
    background-repeat: no-repeat;
}

.ul {
    list-style: none;
}

.fa-linkedin {
    color: blue;
}


.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-wrapper {
    padding-bottom: 100px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color: #6c757d;
    font-size: 14px;
}

@media (min-width: 992px) {
    .page-wrapper {
        padding-top: 80px;
    }
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    border-radius: 20px;
}

.icon {
    max-width: 200px;
    margin-bottom: 20px;
}

.text-strong {
    font-weight: bold;
}

.placeholder-sm::placeholder {
    font-size: 12px; /* dostosuj rozmiar czcionki według potrzeb */
}

/*zamrażanie nagłówka tabeli*/
/*.fixed-header-table {*/
/*    position: sticky;*/
/*}*/

/*.fixed-header-table thead {*/
/*    position: sticky;*/
/*    top: 70px;*/
/*    background-color: #f8f9fa; !* Kolor tła nagłówka *!*/
/*    !*z-index: 0;*!*/
/*}*/

.fixed-header-table-container {
    max-height: 710px; /* Maksymalna wysokość kontenera tabeli */
    overflow-y: auto; /* Dodaje pasek przewijania, gdy tabela przekracza maksymalną wysokość */
}

.fixed-header-table {
    position: sticky;
    top: 0;
    /*background-color: #f8f9fa; !* Kolor tła nagłówka *!*/
    z-index: 1;
}

.fixed-header-table th {
    position: sticky;
    top: 0px;
    /*background-color: #f8f9fa; !* Kolor tła wierszy nagłówka *!*/
    z-index: 2;
}